*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

html{
    font-size: 10px;
}

body{
    background-image: url(bg.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    position: absolute;
    top: 13%;
    left: 7%;
    font-size: 6rem;
    padding: 0.5rem;
    cursor: pointer;
}

i:hover{
    color: #143947;   
}

form{
    letter-spacing: 0.2rem;
    font-size: 2rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
}

input[type=password], input[type=text]{
    display: block;
    margin: 5px;
    border: 2px solid #bbb;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    width: 250px;
    height: 2.8rem;    
}

input[type=submit]{
    cursor: pointer;
    letter-spacing: 2px;
    background-color: #143947;
    border-radius: 2px;
    padding: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    width: 250px;
}

input[type=submit]:hover{
    color: darkgray;
}

p{
    text-align: center;
    padding: 5px;
    color: black;
}

footer{
    border-top: 2px solid white;
    text-transform: uppercase;
    position: absolute;
    bottom: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 2.2rem;
}

footer p{
    color: white;
}

header{
    font-size: 1.5rem;
    position: absolute;
    top: 3%;
    opacity: 0.5;
    text-align: center;
}

h3{
    text-transform: uppercase;
    text-align: center;
}

/*menu*/
 
.nav-menu{
    list-style: none;
    display: none;
    background: #143947;
}
 
.nav-menu:target, .nav-menu.open{
    display: block;
}
 
.nav-menu-item-link{
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px; 
}

.nav-menu-item-link:hover, .nav-menu-item-link:focus
{
    background: #143947;
    color: darkgray;
}
 
.nav-menu-item + .nav-menu-item{
    border-top: 1px #000 solid;
}

ul a{
    text-decoration: none;
    font-size: 3rem;
}

/*media menu*/

@media screen and (min-width: 1000px) {
    .nav-toggle{
        display: none;
    }
 
    .nav-menu{
        display: table;
        background: none;
    }
 
    .nav-menu-item{
        display: table-cell;  
    }
    
    .nav-menu-item + .nav-menu-item{
        border-left: 1px #000 solid;
        border-top: none;       
    }

}

/* media - responsive */

@media (orientation: portrait) {
   header{
        transform: rotate(-5deg);
    }
    
}
@media (orientation: landscape) {
    nav{
        top: 19%;
        left: 10%;
    }
}
     

@media (min-width: 360px) and (orientation: portrait) {
   nav{
        left: 5%;
        top: 15%;
        font-size: 5.6rem;
    }
    header{
        top: 1%;
        font-size: 2rem;
    }
    footer{
        font-size: 2.8rem;
        bottom: 4%;
    }
    input[type=password], input[type=text]{
        width: 280px;
        padding: 4px;
        font-size: 2rem;
        margin: 15px;
        height: 2.9rem;
    }
    input[type=submit]{
        width: 280px;
        padding: 4px;
        font-size: 2rem;
    }
}


@media (min-width: 412px) {
    nav{
        left: 9%;
        top: 15%;
        font-size: 5.6rem;
    }
}


@media (min-width: 768px) and (orientation: portrait) {
    nav{
        left: 20%;
        top: 15%;
        font-size: 7.6rem;
    }
    header{
        top: 5%;
        font-size: 2.4rem;
    }
    footer{
        font-size: 3rem;
        bottom: 4%;
    }
    input[type=password], input[type=text]{
        width: 340px;
        padding: 5px;
        font-size: 2rem;
        margin: 15px;
        height: 4rem;
    }
    input[type=submit]{
        width: 340px;
        padding: 5px;
        font-size: 2rem;
    }
}


@media (min-width: 1024px) and (orientation: portrait) {
     nav{
        left: 25%;
        top: 18%;
        font-size: 8rem;
    }
    header{
        top: 6%;
        font-size: 3.2rem;
    }
    footer{
        font-size: 5.2rem;
        bottom: 6%;
    }
    input[type=password], input[type=text]{
        width: 420px;
        padding: 6px;
        font-size: 3rem;
        margin: 19px;
        height: 5.2rem;
    }
    input[type=submit]{
        width: 420px;
        padding: 6px;
        font-size: 3rem;
    }
}



