
.icon-github:before { content: '\e800'; } /* '' */
.icon-css:before { content: '\e801'; } /* '' */
.icon-html5:before { content: '\e802'; } /* '' */
.icon-googleplus:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */